#mapping-main-content {

}

#mapping-panel-structures {

}

#mapping-panel-template {

}

#mapping-panel-elements {
}

#mapping-main-content .panel-header {
	height: 50px;
}

#mapping-main-content .panel-body {

}

#mapping-main-content .section-header {
	padding-bottom: 3px;
}

#mapping-main-content:after,
#mapping-main-content .panel:after,
#mapping-panel-mapping .panel-body:after {
  display: table;
  content: "";
  clear: both;
}


.mapping-active *:hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 5px #FF0000;
	-webkit-box-shadow: 0 0 5px #FF0000;
	box-shadow: 0 0 5px #FF0000;
	_border:1px solid #FF0000;
	_margin: -1px 0 0 -1px;
}

.mapping-active .mapping-selected,
.mapping-active .mapping-defined {
	cursor: pointer;
	-moz-box-shadow: 0 0 5px #20c3ff;
	-webkit-box-shadow: 0 0 5px #20c3ff;
	box-shadow: 0 0 5px #20c3ff;
	_border:1px solid #20c3ff;
	_margin: -1px 0 0 -1px;
}

.mapping-active .mapping-hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 10px #138826 !important;
	-webkit-box-shadow: 0 0 10px #138826 !important;
	box-shadow: 0 0 10px #138826 !important;
	_border:1px solid #138826 !important;
	_margin: -1px 0 0 -1px !important;
}

.btn.mapping-element-add,
.btn.mapping-structure-update {
	display: none;
}

.well.well-dark {
	background-color: #F0F0F0;
}

iframe {
	border: 0;
	min-height: 500px;
}


/**
 * FormEngine
 */

.form-engine-wrapper .mapping-basic {
	border-bottom: 1px solid silver;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.form-engine-wrapper .mapping-basic-structure {
	margin-right: 10px;
}

.form-engine-wrapper .mapping-assignment-assignment {
	display: table;
	content: "";
	clear: both;
	margin-bottom: 5px;
}

.form-engine-wrapper .mapping-assignment-element {
	float: left;
	width: 200px;
	margin-right: 20px;
}
.form-engine-wrapper .mapping-assignment-node {
	float: left;
	width: 200px;
}
